.taskSourceIcon {
    width: 20px; height: 20px;
}
.taskTitle {
    text-overflow: ellipsis;
    width: 70%;
    outline: none;
    background: transparent;
    border: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    border-bottom: 0 solid #dadada;
    text-shadow: 0 0 25px rgba(0,0,0,0.9);
    margin-left: 0.2vw;
    transition: 0.3s;
    font-size: 2.3vh;
}
.taskTitle:focus {
    border-bottom: 0.3vh solid #dadada;
}
.overdueTask {
    color: rgb(255, 56, 56)
}
.dateSpan {
    right: 3.3vw;
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 1.7vh;
    padding: .68vh
}

.dateSpan:hover {
    border-radius: 5px;
    background: rgba(32, 29, 29, 0.77)
}


#todolist {
    display: block;
    margin-top: 1vh;
    left: 50%;
    width: 35vw;
    height: 34vh;
    margin-left: auto;
    margin-right: auto
}

#todolist h4 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 1.6vh
}

ul#tasksUL {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 37vh
}

ul#tasksUL::-webkit-scrollbar {
    display: none;
}

ul#tasksUL li {
    cursor: pointer;
    position: relative;
    padding: 1.37vh .83vw 1.37vh 0.4vw;
    /*background: rgba(0, 0, 0, 0.4);*/
    font-size: 1.75vh;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: transform 1s ease-in-out;
    
    
}


ul#tasksUL li img {
    float: right;
    vertical-align: baseline ;
}



ul#tasksUL li:hover {
    background: rgba(209, 193, 193, 0.3)
}

ul#tasksUL li.checked {
    background: rgba(105, 105, 105, 0.3);
    color: #fff;
    text-decoration: line-through
}

ul#tasksUL li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 .12vw .23vh 0;
    top: 1.14vh;
    left: .95vw;
    transform: rotate(45deg);
    height: 1.71vh;
    width: .42vw
}
.markCompleteButton {
    float: left;
    opacity: 0;
    transition: 0.3s;
}
.markCompleteButton:hover {
    color: rgb(150, 150, 150);
}
ul#tasksUL li:hover > .markCompleteButton {
    opacity: 1;
}